@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800%27');

* {
    box-sizing: border-box;
}

body {
    background: #8d6a3f !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
}

.reservation-form {
    font-family: 'Fira Sans', sans-serif;
    width: 1000px;
    margin: 30px auto;
    background: white;
    border-radius: 10px;
}

/* Reservation Form Header */
.form-header h1 {
    font-size: 35px;
    text-align: center;
    color: black;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
    font-weight: bold;
}

.form-body {
    padding: 10px 40px;
}

.form-group {
    background: white;
    margin-bottom: 15px;
}

/* Label Titles --> Name of Fields */
.form-body .label-title {
    color: black;
    font-weight: bold;
}

/* Field Input Boxes --> Everything the User Must Fill Out */
.form-body .form-input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-radius: 5px;
}

/* Custom Input Box For Email */
.form-body .form-input-email {
    width: 500px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-radius: 5px;
}

/* Custom Number Input Box for Item Quantities */
.form-body .form-input-item {
    width: 20%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-radius: 5px;
}

/* Left Columns of Fields w/ Two Columns */
.horizontal-group .left {
    float: left;
    width: 42%;
}

/* Right Columns of Fields w/ Two Columns */
.horizontal-group .right {
    float: right;
    width: 42%;
}

/* For Time Field */
.two-column {
    display: flex;
    width: 80%;
}

/* For Additional Information */
.form-body .form-group textarea {
    width: 100%;
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-radius: 5px;
    resize: none;
}

/* Buttons */
.btn {
    display: inline-block;
    width: 30%;
    padding: 10px 25px;
    background: #8d6a3f !important;
    font-size: 18px;
    border-radius: 10px;
    color: white;
 }

 /* To Add Space Between Elements (Input Boxes, Labels, Buttons) */
 .divider {
    width: 30px;
    height: auto;
    display: inline-block;
}